@inherits Umbraco.
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

 <div class= "container">
     @{ Html.RenderAction("RenderForm","ContactSurface")}
</div>

 
